*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
height: 100vh;
background-color: rgba(146,188,243,0.4);
}

.container{
position:absolute;
left:50%;
top:50%;
transform: translate(-50%, -50%);
}

.form{
padding:20px;
width:430px;
height:660px;
background-color:rgba(14,98,140,0.9);
box-shadow: rgba(100,100,111,0.2) 0 7px 29px 0px;
border-radius: 10px;
}

.form-header{
border-radius: 8px 8px 0 0;
text-align: center;
background-color:rgb(222,222,222);
padding: 10px;
}

.form-body{
padding: 20px;
text-align: left;
}
.field{
padding:8px;
margin-bottom: 10px;
width: 100%;
background-color:white;
font-weight: 500;
color: red;
text-align: left;
border-radius: 10px;
box-shadow:skyblue  0 7px 29px 0px;
border: 2.5px solid black;
}

.g{
margin-bottom: 10px;
margin-top: 10px;
box-shadow:skyblue  0 7px 29px 0px;
font-weight:1000;
}

.h{
margin-bottom: 10px;
margin-left: 15px;
box-shadow:skyblue  0 7px 29px 0px;
font-weight:1000;
}

.option{
position:relative;
padding-bottom:20px;
margin-left:1px;
font-size:16px;
text-align: center;
}


.b{
text-align:center;
}
 .c {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    width:100%;
  }

.c:hover{
box-shadow:0px 0px 10px 5px white;
}

.form-footer{
margin-top:19px;
text-align:center;
a:hover{color:skyblue}
}